# Dossiers

.divers/
.vscode/
build-GUI-EXT4-Debug/
Parser/obj/

# Fichiers

.directory
Beta/beta_gui.sh
Parser/parser
Parser/test.sh
Scripts/.~lock.Documentation.odt#
Scripts/.~lock.Mode d'emploi.odt#
tests/
