# Dossiers

.divers/
.vscode/
build-GUI-EXT4-Debug/
Parser/obj/

# Fichiers

.directory
.~lock.Mode d'emploi.odt#
Beta/.~lock.Documentation Beta.odt#
Beta/beta_gui.sh
GUI/GUI.pro
GUI/GUI.pro.user
Parser/parser
Parser/test.sh
Stable/.~lock.Documentation Stable.odt#
